@import url('./climaComponents/temperature-now.css');
@import url('./climaComponents/air-quality.css');
@import url('./climaComponents/sunset-time.css');
@import url('./climaComponents/week-weather.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1.6rem;
}

main {
  background: url("./img/clima/Background.jpg") no-repeat center/cover;
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 2.4rem;
}
section {
  background: #6d67d0;
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}
nav {
  position: absolute;
  top: 10rem;
  left: 65rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}

.link {
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
}

.link:hover {
  border-bottom: 2px solid white;
  color: white;
  
}

@media (min-width: 1200px) {
  main {
    grid-template-columns:  48rem 27.7rem 27.7rem;
    grid-template-rows: 24rem 21.2rem;

  }

  .temperature-now {
    grid-row: 1/3;
  }
  .week-weather {
    grid-column: 2/4;
  }
}

